@import url(root.css);
@import url(meraki-default-forms.css);

body{
 	background: url(../_img/_svg/bg-cadastro.svg) no-repeat fixed;
 	background-size:cover;
}

.box {
    width: 50.9375rem;
    transform: translateY(5%);
}

.form{
	width: 80%;
}

.submit input[type="submit"] {
    background: var(--gradient-btn-purple);  
}