@import url(root.css);

.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    height: 475px;
    width: 100vw;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: inherit;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 1.5s;
    position: relative;
    pointer-events: none;
}

.slide .highlight-image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    
    background: #000;
    opacity: .8;
}

.slide img {
    position: absolute;
    height: inherit;
    width: 100%;
    top: -10%;
    z-index: -1;
    animation: 2s ease-out 0s 1 fadein;
    pointer-events: none;
}

.slide .highlight-text {
    position: absolute;
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    color: var(--branco);
    animation: 4s ease-out 0s 1 fadein;
    pointer-events: all;
}

.slide .highlight-text h2 {
    font-size: 3rem;
    font-family: var(--montserrat);
}

.slide .highlight-text p {
    text-align: center;
    font-family: var(--montserrat);
}

/* navegação do slide */

.navigation-manual,
.navigation-auto {
    position: absolute;
    width: 100%;
    bottom: 35px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.manual-btn,
.navigation-auto div {
    border: 1.5px solid var(--branco);
    padding: 4px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 1s, background-color .5s;
}
.manual-btn:hover {
    background: var(--branco);
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: var(--branco);
}