@import url(root.css);

/* main > section div * {
    animation: 2s ease-out 0s 1 fadein;
} */

.main-content > div {
    height: 700px;
}

.main-content > div:nth-child(even) {
    background-color: var(--roxo-escuro);
}

.main-content .container {
    height: 100%;
    padding: 3.2rem 1rem;
    position: relative;
}

.main-content .news {
    background: url(../_img/_svg/highlights-bg.svg) no-repeat;
    background-size: 90%;
}

.main-content .offers {
    background: url(../_img/_svg/offers-bg.svg) no-repeat right;
    background-size: contain;
}

.main-content .month-theme {
    background: url(../_img/_svg/monthT-bg.png) no-repeat right bottom;
    background-size: 95%;
}

.main-content-headers {
    position: absolute;
}

.main-content > div:nth-child(even) .main-content-headers {
    right: 1rem;
    text-align: right;
    color: var(--branco);
}

.main-content-headers  h2{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.main-content-headers p {
    width: 380px;
    position: relative;
}

.main-content-headers p img { position: absolute;}

.month-theme .main-content-headers h2{
    font-family: 'Rochester', cursive;
    margin-bottom: 12px;
}

.main-content-headers p { margin-bottom: 10px;}

.main-content-headers sup {
    font-weight: 500;
    color: #20252caa;
}