@import url(root.css);

header {
    position: relative;
    height: 11rem;
}

header section {
    animation: 2s ease-out 0s 1 slideInFromTop, 2s ease-out 0s 1 fadein;
}

header .header{
    position: relative;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px 1rem 1rem;
}

.bg-dark-blue {
    background-color: var(--azul-escuro);
}

.color-white {
    color: var(--branco);
}

/* configurações da logo */
.logoArea {
    flex: 0 0 30%;
    max-width: 30%;
}

.header .header-logo {
    padding-left: 0;
    text-align: left;
}

.header .header-logo a {
    display: block;
    width: 159px;
}
/* --------------------- */

/* fazendo com que os links que possuem .svg sejam clicáveis */
a.svg {
    position: relative;
    display: inline-block; 
}
a.svg:after {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}
/* -------------------------------------------------------- */

/* configurações da barra de pesquisa */
.srcArea {
    height: 35px;
    flex: 0 0 40%;
    max-width: 40%;
}

.busca {
    display: flex;
    position: relative;
    background-color: none;
    height: 100%;
}

.btn-buscar {
    background: url(../_img/_svg/icons/search.svg) center no-repeat;
    max-width: 35px;
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 0;
    border-radius: 0 14px 14px 0;
    cursor: pointer;
    flex: 0 0 100%;
}

.srcArea input[type="text"] {
    width: 100%;
    padding: .375rem .75rem .375rem 120px;
    font-size: 16px;
    text-align: right;
    color: var(--preto);
    font-weight: 400;
}

.srcArea input,
.srcArea button {
    background-color: var(--branco);
}
/* ---------------------------------- */

/* configurações da área dos ícones no cabeçalho */
.iconsArea {
    flex: 0 0 30%;
    max-width: 30%;
}

.iconsArea .d-flex {
    justify-content: space-between;
}

.iconsArea .txt {
    text-align: center;
    font-size: 15px;
    margin: 0 14px 0 3rem;
}

.iconsArea .txt p:last-child {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.iconsArea .txt p{
    cursor: default;
}
/* --------------------------------------------- */

/* configurações da barra de navegação */
header .nav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navBar {
    height: 51px;
}

.navBar .container{
    padding: 0;
    height: 100%;
}

.navBarCat,
.topics, 
.topics .d-flex {
    height: 100%;
}

.navBar .topics {
    flex-grow: 1;
}

.topics .d-flex .topic{
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    padding-top: 1em;
}

.topics .d-flex .topic:not(:first-child):after{
    content: "";
    background: var(--branco);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20%;
    left: 0;
    width: 1px;
}

.topics .d-flex .topic:hover {
    border-radius: 5px;
    background-color: #ACBFD933;
    transition: .5s all;
}
/* ----------------------------------- */

/* main {

} */

/* estilização do rodapé */
footer {
    position: relative;
    height: 9rem;
}

.footer, 
.footer .container,
.footer .container>div {
    height: 100%;
}

.footer .container>div {
    justify-content: space-between;
    align-items: center;
}


.medias {
    gap: 5px;
}

/* --------------------- */